@charset "UTF-8";
/* index(날씨) 페이지 스타일 */

/* 도시와 구/시 선택을 위한 좌측 부분 */
#addressChoice {
  flex: 1; /* 50% 너비로 설정 */
}

/* 주소 입력란 및 현재 위치 입력을 위한 우측 부분 */
#currentLocation {
  flex: 1; /* 50% 너비로 설정 */
}

/* 결과 테이블 부분 */
#result {
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 20px;
}

/* 스크롤이 필요할 때 적용될 스타일 */
.dropdown-menu {
	max-height: 200px;
	overflow-y: auto;
}

.card {
	background: white;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	border-bottom: 50px;
	padding: 20px;
	margin: 20px;
	text-align: center;
	transition: transform 0.3s ease-in-out;
}

.card:hover {
	transform: scale(1.05);
}

button:hover {
	background-color: #45a049;
}

#getWeatherButton, #addressBtn {
	width: auto;
	height: 45px;
}

th:nth-child(1), td:nth-child(1) {
	width: 9%;
}

th:nth-child(2), td:nth-child(2) {
	width: 9%;
}

th:nth-child(3), td:nth-child(3) {
	width: 9%;
}

th:nth-child(4), td:nth-child(4) {
	width: 9%;
}

th:nth-child(5), td:nth-child(5) {
	width: 9%;
}

th:nth-child(6), td:nth-child(6) {
	width: 9%;
}

th:nth-child(7), td:nth-child(7) {
	width: 9%;
}

th:nth-child(8), td:nth-child(8) {
	width: 9%;
}

th:nth-child(9), td:nth-child(9) {
	width: 9%;
}

th:nth-child(10), td:nth-child(10) {
	width: 9%;
}

th:nth-child(11), td:nth-child(11) {
	width: 9%;
}