<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springbootfinal.app.mapper.login.HostUserMapper">

    <select id="findHostUserById" parameterType="string" resultType="com.springbootfinal.app.domain.login.HostUser">
        SELECT * FROM host_users WHERE id = #{id}
    </select>

    <select id="findHostUserByHostUserNo" parameterType="long" resultType="com.springbootfinal.app.domain.login.HostUser">
        SELECT * FROM host_users WHERE host_user_no = #{hostUserNo}
    </select>

    <select id="findHostUserByName" parameterType="string" resultType="com.springbootfinal.app.domain.login.HostUser">
        SELECT * FROM host_users WHERE name = #{name}
    </select>

    <select id="findHostUserByEmail" parameterType="string" resultType="com.springbootfinal.app.domain.login.HostUser">
        SELECT * FROM host_users WHERE email = #{email}
    </select>

    <select id="findAllHostUsers" resultType="com.springbootfinal.app.domain.login.HostUser">
        SELECT * FROM host_users
    </select>

    <insert id="insertHostUser" parameterType="com.springbootfinal.app.domain.login.HostUser" useGeneratedKeys="true" keyProperty="hostUserNo">
        INSERT INTO host_users (id, passwd, email, phone, name, zipcode, address1, address2, business_license_no, regdate, role)
        VALUES (#{id}, #{passwd}, #{email}, #{phone}, #{name}, #{zipcode}, #{address1}, #{address2}, #{businessLicenseNo}, #{regdate}, #{role})
    </insert>

    <update id="updateHostUserById" parameterType="com.springbootfinal.app.domain.login.HostUser">
        UPDATE host_users
        SET passwd = #{passwd}, email = #{email}, phone = #{phone}, name = #{name},
            zipcode = #{zipcode}, address1 = #{address1}, address2 = #{address2}, business_license_no = #{businessLicenseNo},
            regdate = #{regdate}, role = #{role}
        WHERE host_user_no = #{hostUserNo}
    </update>

    <delete id="deleteHostUserById" parameterType="long">
        DELETE FROM host_users WHERE host_user_no = #{hostUserNo}
    </delete>

    <select id="findRecentHostUsers" parameterType="int" resultType="com.springbootfinal.app.domain.login.HostUser">
        SELECT * FROM host_users ORDER BY regdate DESC LIMIT #{limit}
    </select>

</mapper>