/* 캐러셀 이미지 컨테이너 크기 고정 */
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 500px; /* 원하는 최대 높이로 설정 */
}

/* 캐러셀 이미지 크기 고정 */
.carousel-img {
    width: 100%;
    height: 500px; /* 원하는 높이로 설정 */
    object-fit: cover;
}

/* 카드 컨테이너 스타일 */
.travel-card-container {
    display: flex;
    overflow-x: hidden; /* 가로 스크롤 숨김 */
    scroll-behavior: smooth; /* 부드러운 스크롤 */
    padding: 10px 0; /* 상하 여백 추가 */
}

/* 카드 스타일 */
.travel-card {
    flex: 0 0 auto;
    width: 10rem; /* 카드 너비 고정 */
    margin-right: 1rem; /* 카드 사이 여백 */
    max-width: 100%; /* 최대 너비 설정 */
}

/* 카드 이미지 크기 고정 */
.card-img-top {
    width: 100%;
    height: 8rem; /* 이미지 높이 고정 */
    object-fit: cover;
}

/* 날씨 파트 스타일 */
.weather-container {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
}

.carousel-inner,
.weather-container,
.travel-card-container {
    width: 100%;
    max-width: 100%; /* 부모 컨테이너의 최대 너비를 넘지 않도록 설정 */
}

/* 캐러셀 아이템 스타일 */
.carousel-item {
    display: none;
    position: relative;
    transition: transform 0.6s ease-in-out;
}

.carousel-item.active {
    display: block;

.header, #header {
    border-bottom: solid 1px #1396E5FF;
    color: #1396E5FF;
}
/* 전체 페이지에 폰트 적용 */
@font-face {
    font-family: 'NanumBarunGothic-YetHangul';
    src: url('/css/font/NanumBarunGothic-YetHangul.ttf') format('truetype'),
    url('/css/font/NanumBarunGothic-YetHangul.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "NanumBarunGothic-YetHangul";
