<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">

<th:block layout:fragment="content">

    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <div class="row my-5" id="global-content">
        <div class="col">
            <div class="row my-3 text-center">
                <div class="col">
                    <h2 class="fs-3 fw-bold">회원 정보 수정</h2>
                </div>
            </div>
            <form th:action="@{/myPage/update}" name="joinForm" method="post" id="joinForm" th:object="${user}">
                <input type="hidden" name="loginType" id="loginType" th:value="*{loginType}"/>
                <div class="row mt-5 mb-3">
                    <div class="col-8 offset-2">
                        <label for="name" class="form-label">* 이 름 : </label>
                        <input type="text" class="form-control" name="name" id="name" th:field="*{name}">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-8 offset-2">
                        <label for="id" class="form-label">* 아이디 : </label>
                        <div class="row">
                            <div class="col-6">
                                <input type="text" class="form-control" name="id" id="id" th:field="*{id}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-8 offset-2">
                        <label for="password" class="form-label">비밀번호 : </label>
                        <input type="password" class="form-control" name="password" id="password" th:field="*{password}" placeholder="미입력시 기존 비밀번호를 유지합니다.">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-8 offset-2">
                        <label for="zipcode" class="form-label">* 우편번호 : </label>
                        <div class="row">
                            <div class="col-4">
                                <input type="text" class="form-control" name="zipcode" id="zipcode" maxlength="5" th:field="*{zipcode}" readonly>
                            </div>
                            <div class="col-4">
                                <input type="button" class="btn btn-warning" id="btnZipcode" value="우편번호 찾기">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-8 offset-2">
                        <label for="address1" class="form-label">* 자택주소 : </label>
                        <input type="text" class="form-control" name="address1" id="address1" th:field="*{address1}" readonly>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-8 offset-2">
                        <label for="address2" class="form-label">상세주소 : </label>
                        <input type="text" class="form-control" name="address2" id="address2" th:field="*{address2}">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-8 offset-2">
                        <label for="email" class="form-label">* 이 메 일 : </label>
                        <input type="email" class="form-control" name="email" id="email" th:field="*{email}">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-8 offset-2">
                        <label for="phone" class="form-label">* 휴 대 폰 : </label>
                        <input type="text" class="form-control" name="phone" id="phone" th:field="*{phone}">
                    </div>
                </div>

                <div class="row mb-3 mt-5">
                    <div class="col-8 offset-2">
                        <input type="submit" value="저장하기" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
</th:block>
</html>