<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">
<th:block layout:fragment="content">
    <div class="container my-5">

        <div class="row">
            <div class="col-3">
                <ul class="nav flex-column nav-underline">
                    <li class="nav-item">
                        <a class="nav-link active bg-primary p-2 text-dark bg-opacity-10" aria-current="page" href="#">내 정보 보기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  aria-current="true" href="#">예약 현황</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-disabled="true"  href="#">양도 현황</a>
                    </li>
                </ul>

            </div>
            <!--버튼 끝-->
            <div class="col-9">

                <div class="row">
                    <div class="col">
                        <div my-3> <h2>내 정보 관리</h2></div>
                       <div class="row  my-3">
                           <div class="col">
                               <div>회원 정보</div>
                               <div>내 정보 조회 밑 수정은 여기서 가능해요</div>
                           </div>
                       </div>
                       <div>
                           <div class="row  my-3">
                               <div class="col">
                                   <div class="row">
                                       <div class="col-6  my-3">
                                           <div>
                                               닉네임
                                           </div>
                                           <div>
                                               <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled th:value="${user.id}">
                                           </div>
                                       </div>
                                       <div class="col-6 my-3">
                                           <div>
                                               이름
                                           </div>
                                           <div>
                                             <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled th:value="${user.name}">
                                           </div>
                                       </div>
                                   </div>
                                   <div class="row">
                                       <div class="col-6  my-3">
                                           <div>
                                               전화번호
                                           </div>
                                           <div>
                                                  <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled th:value="${user.phone}">
                                           </div>
                                       </div>
                                       <div class="col-6  my-3">
                                           <div>
                                               이메일
                                           </div>
                                           <div>
                                                  <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled th:value="${user.email}">
                                           </div>
                                       </div>
                                   </div>
                                   <div class="row  my-3">
                                       <div class="col">
                                           <div>
                                               주소
                                           </div>
                                           <div>
                                                  <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled th:value="${user.address1} + ' ' + ${user.address2}">
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</th:block>
</html>