<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main_layout}">
<th:block layout:fragment="content">
    <div class="container my-5">
        <h2>계정 병합</h2>
        <form th:action="@{/myPage/merge}" method="post">
            <div class="form-group">
                <label for="localEmail">로컬 계정 이메일</label>
                <input type="email" class="form-control" id="localEmail" name="localEmail" required>
            </div>
            <div class="form-group">
                <label for="localPassword">로컬 계정 비밀번호</label>
                <input type="password" class="form-control" id="localPassword" name="localPassword" required>
            </div>
            <button type="submit" class="btn btn-primary">계정 병합</button>
        </form>
        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
    </div>
</th:block>
</html>