<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 완료</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>

        .alert-success {
            background-color: #007bff; /* 배경을 파란색으로 변경 */
            border-color: #007bff;
        }

        .alert-success h3 {
            color: white; /* 텍스트 색상 변경 */
        }

        .btn-primary {
            background-color: #0056b3; /* 버튼 색상 파랑으로 변경 */
            border-color: #0056b3;
        }

        .btn-primary:hover {
            background-color: #004085; /* 버튼 hover 색상 */
            border-color: #004085;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container my-5">

        <div class="row">
            <div class="col-3">
                <ul class="nav flex-column nav-underline">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/myPage/info}">내 정보 보기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active bg-primary p-2 text-dark bg-opacity-10" aria-current="true" th:href="@{/myPage/myReservation}">예약 현황</a>
                    </li>
                </ul>
            </div>

            <!-- 버튼 끝  -->
            <!--예약내역 상세 영억-->
            <div class="col-9">
                <div class="row">
                    <div class="col">
                        <div class="alert alert-info">
                            <ul class="list-group">
                                <li class="list-group-item"><img th:src="${reservation.thumbnailUrls}" class="img-fluid" alt="Thumbnail"></li>
                                <li class="list-group-item">예약 번호: <strong>[[${reservation.roomNo}]]</strong></li>
                                <li class="list-group-item">주소 : <Strong th:text="${reservation.residDescription}"></Strong></li>
                                <li class="list-group-item">숙소 이름: <strong th:text="${reservation.residName}"></strong></li>
                                <li class="list-group-item">방 이름: <strong th:text="${reservation.roomName}"></strong></li>
                                <li class="list-group-item">체크인 날짜: <strong>[[${reservation.checkinDate}]]</strong></li>
                                <li class="list-group-item">체크아웃 날짜: <strong>[[${reservation.checkoutDate}]]</strong></li>
                                <li class="list-group-item">총 금액: <strong th:text="${reservation.totalPrice}"></strong></li>
                                <li class="list-group-item">할인율: <strong>[[${reservation.discountRate}]]%</strong></li>
                                <li class="list-group-item">할인된 금액: <strong>[[${reservation.discountedPrice}]]원</strong></li>
                                <li class="list-group-item">결제 상태: <strong>[[${reservation.paymentStatus}]]</strong></li>
                            </ul>
                        </div>
                        <div class="text-center mt-4">
                            <a href="/myPage/myReservation" class="btn btn-primary">확 인</a>
                            <a href="javascript:void(0);" id="reservationdelete" class="btn btn-danger" th:data-reservation-no="${reservationNo}"
                               onclick="if (confirm('정말 예약을 취소하시겠습니까?')) {
              window.location.href='/reservationDelete?reservationNo=' + this.getAttribute('data-reservation-no');
           }">예약 취소</a>



                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>

        </script>
        <!--예약내역상세 영역 끝-->
        <!-- 내용 끝 -->

    </div>
</th:block>
</body>
</html>