<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">
<th:block layout:fragment="content">
    <div class="container my-5">

        <div class="row">
            <div class="col-3">
                <ul class="nav flex-column nav-underline">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/myPage/info}">내 정보 보기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active bg-primary p-2 text-dark bg-opacity-10"  aria-current="true" th:href="@{/myPage/myReservationStatus}">예약 현황</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-disabled="true"  href="#">양도 현황</a>
                    </li>
                </ul>

            </div>
            <!-- 버튼 끝  -->
            <div class="col-9">
                <h1>예약현황페이지</h1>
            </div>



<!--      내용 끝      -->
        </div>
    </div>
</th:block>
</html>