<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springbootfinal.app.mapper.helper.AnswersMapper" >

    <!-- 답변 추가 -->
    <insert id="insertAnswer" useGeneratedKeys="true" keyProperty="answerNo">
        INSERT INTO answers (inquiry_no, admin_user_no, content)
        VALUES (#{inquiryNo}, #{adminUserNo}, #{content});
    </insert>

</mapper>
