<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springbootfinal.app.mapper.helper.InquiriesMapper" >

	<!-- 문의 목록 조회 -->
	<select id="selectAllInquiries" resultType="com.springbootfinal.app.domain.helper.InquiryDto">
		SELECT * FROM inquiries;
	</select>

	<!-- 특정 문의 조회 -->
	<select id="selectInquiryById" resultType="com.springbootfinal.app.domain.helper.InquiryDto">
		SELECT * FROM inquiries WHERE inquiry_no = #{inquiryNo};
	</select>

	<!-- 문의 추가 -->
	<insert id="insertInquiry" useGeneratedKeys="true" keyProperty="inquiryNo">
		INSERT INTO inquiries (user_no, title, content, user_id)
		VALUES (#{userNo}, #{title}, #{content}, #{userId});
	</insert>

	<!-- 문의 업데이트 -->
	<update id="updateInquiry">
		UPDATE inquiries
		SET title = #{title}, content = #{content}
		WHERE inquiry_no = #{inquiryNo};
	</update>
	<!-- 답변 등록시 문의 Status 업데이트 -->
	<update id="updateStatus">
		UPDATE inquiries
		SET status = '답변완료'
		WHERE inquiry_no = #{inquiryNo}
	</update>

	<!-- 문의 삭제 -->
	<delete id="deleteInquiry">
		DELETE FROM inquiries WHERE inquiry_no = #{inquiryNo};
	</delete>

</mapper>