<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springbootfinal.app.mapper.transfer.TransferMapper">

    <!--읽은횟수 증가 맵핑-->
 <!--   <update id="increaseTransferCount" parameterType="int">
        UPDATE transfers
        SET transfer_count = transfer_count + 1
        WHERE transfer_no = #{transferNo}
    </update>-->

    <delete id="deleteTransfer">
        DELETE FROM transfers
        WHERE transfer_no = #{transferNo}
    </delete>

    <!--게시판 테이블에서 no에 해당하는 게시글을 수정하는 맵핑 구문 -->
    <update id="updateBoard" parameterType="com.springbootfinal.app.domain.transfer.TransferDto">
        UPDATE transfers
        SET transfer_title = #{transferTitle},
            transfer_content = #{transferContent},
            transfer_price = #{transferPrice}
        WHERE transfer_no = #{transferNo}
    </update>

    <!-- 한 페이지에 해당하는 게시글 리스트, 검색리스트를 가져오는 맵핑 구문-->
    <select id="transferList" parameterType="map" resultType="com.springbootfinal.app.domain.transfer.TransferDto">
        SELECT
        t.transfer_no AS transferNo,
        t.transfer_title AS transferTitle,
        t.seller_user_no AS sellerUserNo,
        t.buyer_user_no AS buyerUserNo,
        t.reservation_no AS reservationNo,
        t.transfer_price AS transferPrice,
        t.transfer_content AS transferContent,
        t.status,
        t.created_at AS createdAt,
        s.id AS sellerId,
        b.id AS buyerId,
        r.resid_name AS reservationResidName,
        re.checkin_date AS checkinDate,
        re.checkout_date AS checkoutDate
        FROM transfers t
        LEFT JOIN users s ON t.seller_user_no = s.user_no
        LEFT JOIN users b ON t.buyer_user_no = b.user_no
        LEFT JOIN reservations re ON t.reservation_no = re.reservation_no
        LEFT JOIN residence_rooms rr ON re.room_no = rr.room_no
        LEFT JOIN residence r ON rr.resid_no = r.resid_no
        <where>
            <if test="type != null and keyword != null">
                <choose>
                    <when test="type == 'transferTitle'">
                        AND t.transfer_title LIKE CONCAT('%', #{searchKeyword}, '%')
                    </when>
                    <when test="type == 'sellerId'">
                        AND s.id LIKE CONCAT('%', #{searchKeyword}, '%')
                    </when>
                    <when test="type == 'reservationResidName'">
                        AND r.resid_name LIKE CONCAT('%', #{searchKeyword}, '%')
                    </when>
                    <when test="type == 'checkinDate'">
                        AND re.checkin_date LIKE CONCAT('%', #{searchKeyword}, '%')
                    </when>
                    <when test="type == 'checkoutDate'">
                        AND re.checkout_date LIKE CONCAT('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
        ORDER BY t.transfer_no DESC
        LIMIT #{startRow}, #{num}
    </select>

    <select id="getTransferCount" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM transfers t
        LEFT JOIN users s ON t.seller_user_no = s.user_no
        LEFT JOIN users b ON t.buyer_user_no = b.user_no
        LEFT JOIN reservations re ON t.reservation_no = re.reservation_no
        LEFT JOIN residence_rooms rr ON re.room_no = rr.room_no
        LEFT JOIN residence r ON rr.resid_no = r.resid_no
        <where>
            <if test="type != null and keyword != null">
                <choose>
                    <when test="type == 'transferTitle'">
                        AND t.transfer_title LIKE CONCAT('%', #{searchKeyword}, '%')
                    </when>
                    <when test="type == 'sellerId'">
                        AND s.id LIKE CONCAT('%', #{searchKeyword}, '%')
                    </when>
                    <when test="type == 'reservationResidName'">
                        AND r.resid_name LIKE CONCAT('%', #{searchKeyword}, '%')
                    </when>
                    <when test="type == 'checkinDate'">
                        AND re.checkin_date LIKE CONCAT('%', #{searchKeyword}, '%')
                    </when>
                    <when test="type == 'checkoutDate'">
                        AND re.checkout_date LIKE CONCAT('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
    </select>

<insert id="transferInsert" parameterType="com.springbootfinal.app.domain.transfer.TransferDto">
    INSERT INTO transfers (transfer_title, seller_user_no, buyer_user_no,
                           reservation_no, transfer_price, transfer_content, status)
    VALUES (#{transferTitle}, #{sellerUserNo}, #{buyerUserNo},
            #{reservationNo}, #{transferPrice}, #{transferContent}, '양도가능')
</insert>

    <select id="transferRead" resultType="com.springbootfinal.app.domain.transfer.TransferDto">
        SELECT
            t.transfer_no AS transferNo,
            t.transfer_title AS transferTitle,
            t.seller_user_no AS sellerUserNo,
            t.buyer_user_no AS buyerUserNo,
            t.reservation_no AS reservationNo,
            t.transfer_price AS transferPrice,
            t.transfer_content AS transferContent,
            t.status,
            t.created_at AS createdAt,
            s.id AS sellerId,
            b.id AS buyerId,
            r.resid_name AS reservationResidName,
            re.checkin_date AS checkinDate,
            re.checkout_date AS checkoutDate
        FROM transfers t
                 LEFT JOIN users s ON t.seller_user_no = s.user_no
                 LEFT JOIN users b ON t.buyer_user_no = b.user_no
                 LEFT JOIN reservations re ON t.reservation_no = re.reservation_no
                 LEFT JOIN residence_rooms rr ON re.room_no = rr.room_no
                 LEFT JOIN residence r ON rr.resid_no = r.resid_no
        WHERE t.transfer_no = #{transferNo}
    </select>

</mapper>