<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main_layout}">
<head>
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>숙소 등록</title>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <h1>방 삭제</h1>
        <form id="deleteRoomForm" th:action="@{/delete/{residNo}/room(residNo=${residNo})}" method="post">
            <table>
                <tr th:each="room : ${rooms}">
                    <td>
                        <input type="checkbox" name="roomNos" th:value="${room.roomNo}">
                        <span th:text="${room.roomName}"></span>
                    </td>
                </tr>
            </table>
            <button type="submit">선택한 방 삭제</button>
        </form>
    </div>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</th:block>
</body>
</html>