<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:c=""
      layout:decorate="~{layouts/main_layout}">
<head>
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>숙소 수정</title>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <div>
            <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
            <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=36a75517ce82693ff837cc79c740e197&libraries=services,clusterer"></script>
            <script th:src="@{/js/residence/residenceImages.js}"></script>
            <link href="/css/residence/residenceFome.css" rel="stylesheet">
        </div>
        <h1>숙소 수정</h1>
        <form th:action="@{/update/{residNo}(residNo=${residence.residNo})}" th:object="${residence}" method="post"
              enctype="multipart/form-data">
            <div class="row">
                <!-- 기존 숙소 입력 필드들 -->
                <label for="residName">숙소 이름:</label><br>
                <input type="text" id="residName" th:field="*{residName}" required><br><br>
                <label for="residAddress">숙소 주소:</label>
                <input type="text" id="residAddress" th:field="*{residAddress}" placeholder="검색 버튼을 눌러주세요." required class="form-control">
                <button type="button" id="addressBtn" class="btn btn-outline-primary ml-2">
                    검색
                </button>
                <br><br>
                <label for="residType">숙소 유형:</label>
                <select id="residType" th:field="*{residType}">
                    <option value="resort">리조트</option>
                    <option value="hotel">호텔</option>
                    <option value="pension">펜션</option>
                </select><br><br>
                <label>소개 글:</label><br><br>
                <textarea id="residDescription" th:field="*{residDescription}"></textarea>
            </div>
            <!-- 사진 수정 -->
            <div class="my-4">
                <label>기존 등록된 사진</label>
                <div id="photo-preview" class="d-flex flex-wrap">
                    <th:block th:each="photo : ${photos}">
                        <div class="photo-container position-relative m-2" id="photo-box-${photo.photoNo}">
                            <!-- 기존 등록된 사진을 imagePreview 내에 추가 -->
                            <div id="imagePreview">
                                <div id="field1" class="image-field">
                                    <img th:src="@{/images/files/{fileName}(fileName=${photo.photoUrl01})}" width="150" th:id="|photo-img-${photo.photoNo}-1|" class="img-thumbnail">
                                    <input type="hidden" name="existingPhotos" th:value="${photo.photoNo}">
                                </div>
                                <div id="field2" class="image-field">
                                    <img th:src="@{/images/files/{fileName}(fileName=${photo.photoUrl02})}" width="150" th:id="|photo-img-${photo.photoNo}-2|" class="img-thumbnail">
                                    <input type="hidden" name="existingPhotos" th:value="${photo.photoNo}">
                                </div>
                                <div id="field3" class="image-field">
                                    <img th:src="@{/images/files/{fileName}(fileName=${photo.photoUrl03})}" width="150" th:id="|photo-img-${photo.photoNo}-3|" class="img-thumbnail">
                                    <input type="hidden" name="existingPhotos" th:value="${photo.photoNo}">
                                </div>
                                <div id="field4" class="image-field">
                                    <img th:src="@{/images/files/{fileName}(fileName=${photo.photoUrl04})}" width="150" th:id="|photo-img-${photo.photoNo}-3|" class="img-thumbnail">
                                    <input type="hidden" name="existingPhotos" th:value="${photo.photoNo}">
                                </div>
                                <div id="field5" class="image-field">
                                    <img th:src="@{/images/files/{fileName}(fileName=${photo.photoUrl05})}" width="150" th:id="|photo-img-${photo.photoNo}-3|" class="img-thumbnail">
                                    <input type="hidden" name="existingPhotos" th:value="${photo.photoNo}">
                                </div>
                                <div id="field6" class="image-field">
                                    <img th:src="@{/images/files/{fileName}(fileName=${photo.photoUrl06})}" width="150" th:id="|photo-img-${photo.photoNo}-3|" class="img-thumbnail">
                                    <input type="hidden" name="existingPhotos" th:value="${photo.photoNo}">
                                </div>
                                <div id="field7" class="image-field">
                                    <img th:src="@{/images/files/{fileName}(fileName=${photo.photoUrl07})}" width="150" th:id="|photo-img-${photo.photoNo}-3|" class="img-thumbnail">
                                    <input type="hidden" name="existingPhotos" th:value="${photo.photoNo}">
                                </div>
                                <div id="field8" class="image-field">
                                    <img th:src="@{/images/files/{fileName}(fileName=${photo.photoUrl08})}" width="150" th:id="|photo-img-${photo.photoNo}-3|" class="img-thumbnail">
                                    <input type="hidden" name="existingPhotos" th:value="${photo.photoNo}">
                                </div>
                                <div id="field9" class="image-field">
                                    <img th:src="@{/images/files/{fileName}(fileName=${photo.photoUrl09})}" width="150" th:id="|photo-img-${photo.photoNo}-3|" class="img-thumbnail">
                                    <input type="hidden" name="existingPhotos" th:value="${photo.photoNo}">
                                </div>
                                <div id="field10" class="image-field">
                                    <img th:src="@{/images/files/{fileName}(fileName=${photo.photoUrl10})}" width="150" th:id="|photo-img-${photo.photoNo}-3|" class="img-thumbnail">
                                    <input type="hidden" name="existingPhotos" th:value="${photo.photoNo}">
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>

            <!-- 빈 필드 -->
            <div class="empty-photo" style="display:none;">
                <!--<input type="file" name="newPhotos" onchange="uploadNewPhoto(this, ${photo.photoNo})">-->
            </div>
            <label>새로운 사진 추가</label>
            <input type="file" name="photos" multiple>
            <input type="hidden" name="deletedPhotoIds" id="deletedPhotoIds">
            <br><br>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <a th:href="@{/list/{hostUserNo}(hostUserNo=${session.hostUserNo})}"
                   id="back" class="text-decoration-none">
                    뒤로 가기
                </a>
                <button type="submit" id="registerButton" class="btn btn-primary">수정 하기</button>
            </div>
            <!-- 날씨 데이터 -->
            <div class="col-md-6">
                <div class="mb-3">
                    <div id="map" style="width: auto; height: auto; text-align: center;"></div>
                    <table width="85%" style="margin: auto; text-align: center;">
                        <tr>
                            <!-- <td>예보지점 x값</td> -->
                            <td><input type="hidden" id="nx" th:value="${nx}" th:field="*{nx}"/></td>
                            <!-- <td>예보지점 y값</td> -->
                            <td><input type="hidden" id="ny" th:value="${ny}" th:field="*{ny}"/></td>
                            <!-- <td>위도(latitude)</td> -->
                            <td><input type="hidden" id="latitudeNum" name="latitudeNum" th:value="${latitudeNum}" th:field="*{latitudeNum}"/>
                            </td>
                            <!-- <td>경도(longitude)</td> -->
                            <td><input type="hidden" id="longitudeNum" name="longitudeNum" th:value="${longitudeNum}" th:field="*{longitudeNum}"/>
                            </td>
                        </tr>
                    </table>
                    <br/>
                    <div class="d-flex">
                        <input type="hidden" id="address" value="" class="form-control me-2" style="flex: 1;">
                        <input type="hidden" id="address-hidden" value="" class="form-control me-2" style="flex: 1;">
                        <input type="hidden" id="regId" th:value="${regId}" th:field="*{regId}">
                        <input type="hidden" id="regIdTemp" th:value="${regIdTemp}" th:field="*{regIdTemp}">
                    </div>
                </div>
            </div>
        </form>
        <!-- 날씨 데이터 출력폼 -->
        <table>
            <tbody id="combinedWeatherTableBody"></tbody>
            <div id="weatherContainer" class="weather-container">
                <div id="row1" class="row1"></div>
            </div>
            <div class="weather-scroll-container">
                <button class="scroll-btn left" onclick="scrollToLeft()">&#10094;</button>
                <div id="row2" class="weather-row"></div>
                <button class="scroll-btn right" onclick="scrollToRight()">&#10095;</button>
            </div>
        </table>
    </div>
    <script>
        // 특정 이미지 제거 후 해당 위치 비우기
        function removePhoto(photoNo, elementId) {
            document.getElementById(elementId).innerHTML = `
        <input type="file" id="file-input-${photoNo}" onchange="replacePhoto(event, ${photoNo}, elementId)">
        `;
        }

        // 새 이미지 선택 후 기존 이미지 교체
        function replacePhoto(event, photoNo, index) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById(`photo-img-${photoNo}-${index}`).src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        }
    </script>
    <!--<script>
        // 이미지 삭제 함수
        function removePhoto(photoNo, photoBoxId) {
            // 이미지와 파일 선택 필드 삭제
            const photoBox = document.getElementById(photoBoxId);
            if (photoBox) {
                photoBox.remove();
            }

            // 추가적으로, 삭제된 사진의 id를 hidden 필드에 저장하여 서버에 전송할 수 있도록 할 수 있음
            const deletedPhotoIds = document.getElementById('deletedPhotoIds');
            deletedPhotoIds.value += photoNo + ",";
        }

        // 새 이미지 선택 후 기존 이미지 교체
        function replacePhoto(event, photoNo, index) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById(`photo-img-${photoNo}-${index}`).src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        }
    </script>-->
    <link href="/css/weather/allW.css" rel="stylesheet"/>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/map/geolocation.js}"></script>
    <script th:src="@{/js/weather/allMapChoiceN.js}"></script>
    <script th:src="@{/js/map/kakaomapN.js}"></script>
</th:block>
</body>
</html>