<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main_layout}">
<head>
    <link th:href="@{/bootstrap/bootstrap.min.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>숙소 상세보기</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <h1 th:text="${residence.residName}">숙소 제목</h1>
        <p th:text="${residence.residDescription}">숙소 설명</p>

        <!-- 숙소 사진들 -->
        <h3>숙소 사진</h3>
        <div>
            <!--<div th:each="photo : ${photos}">
              <img th:src="@{'/images/' + ${photo.fileName}}" alt="숙소 사진" class="img-fluid mb-3" />-->
        </div>
    </div>
    <!-- 지도 -->
    <div>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=36a75517ce82693ff837cc79c740e197&libraries=services,clusterer"></script>
    </div>
    <form th:action="@{/residence/processAllWeather}" method="post">
    <div id="map" style="width: 300px; height: 350px; text-align: center;"></div>
    <!-- 숙소 정보 (hidden 필드로 추가) -->
    <p th:text="${residence.nx}">NX 값</p>
    <p th:text="${residence.ny}">NY 값</p>
    <p th:text="${residence.regId}">RegId 값</p>
    <p th:text="${residence.regIdTemp}">RegIdTemp 값</p>
    <input type="text" id="nx" th:value="${residence.nx}"/>
    <input type="text" id="ny" th:value="${residence.ny}"/>
    <input type="text" id="regId" th:value="${residence.regId}"/>
    <input type="text" id="regIdTemp" th:value="${residence.regIdTemp}"/>
    <input type="text" id="baseDate" name="baseDate" th:value="${baseDate}"/>
    <input type="text" id="baseTime" name="baseTime" th:value="${baseTime}"/>
    <input type="text" id="tmFc" name="tmFc" th:value="${tmFc}" />
    </form>
    <!-- 날씨 데이터 표시 -->
    <table>
        <tbody id="combinedWeatherTableBody"></tbody>
        <div id="weatherContainer" class="weather-container">
            <div id="row1" class="row1"></div>
        </div>
        <div class="weather-scroll-container">
            <button class="scroll-btn left" onclick="scrollToLeft()">&#10094;</button>
            <div id="row2" class="weather-row"></div>
            <button class="scroll-btn right" onclick="scrollToRight()">&#10095;</button>
        </div>
    </table>

    <!-- 삭제 버튼 -->
    <form th:action="@{/residence/{residNo}/delete(residNo=${residence.residNo})}" method="post">
        <button type="submit" class="btn btn-danger">숙소 삭제</button>
    </form>

    <!-- 목록으로 돌아가기 -->
    <a href="/list" class="btn btn-secondary mt-3">목록으로 돌아가기</a>
    </div>

<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<link th:href="@{/css/weather/allW.css}" rel="stylesheet"/>
<script th:src="@{/js/map/geolocation.js}"></script>
<script th:src="@{/js/weather/allMapChoiceN.js}"></script>
<script th:src="@{/js/map/kakaomap2.js}"></script>
<script th:src="@{/js/weather/allWN2.js}"></script>
</th:block>
</body>
</html>
