<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main_layout}">
<head>
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>숙소 등록</title>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <h1>방 수정</h1>
        <!-- 방 수정 폼 -->
        <form th:action="@{/update/{residNo}/room(residNo=${resid})}" method="post" enctype="multipart/form-data">
            <div class="row">
                <div th:each="room, iterStat : ${residenceRooms}">
                    <input type="text" th:name="|residenceRooms[${iterStat.index}].roomNo|" th:value="${room.roomNo}"/>
                    <input type="text" th:name="|residenceRooms[${iterStat.index}].roomName|" th:value="${room.roomName}"/>
                    <input type="number" th:name="|residenceRooms[${iterStat.index}].pricePerNight|" th:value="${room.pricePerNight}"/>
                    <input type="file" name="roomImages"/>
                    <div id="room-photo-preview">
                        <div class="room-container" th:id="|room-${room.roomNo}|">
                            <!-- 미리보기 이미지 -->
                            <div class="existing-photo" th:id="|room-box-${room.roomNo}|">
                                <img th:src="@{/images/files/{fileName}(fileName=${room.roomUrl01})}" width="150"
                                     th:id="|room-img-${room.roomNo}|">
                                <input type="hidden" name="existingRoomPhotos" th:value="${room.roomNo}">
                                <button type="button" th:onclick="|removeRoomPhoto(${room.roomNo}, 'room-box-${room.roomNo}')|">
                                    이미지 삭제
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>
            <button><a href="/list" class="text-decoration-none text-black btn-warning">뒤로 가기</a></button>
            <button type="submit" id="registerButton" class="btn btn-primary">수정</button>
        </form>
    </div>
    <script>
        function removeRoomPhoto(roomNo, boxId) {
            // 해당 요소를 찾습니다.
            var photoBox = document.getElementById(boxId);
            if (photoBox) {
                // 완전히 삭제하려면 DOM에서 제거합니다.
                photoBox.parentNode.removeChild(photoBox);
                // 또는 숨기고 싶다면:
                // photoBox.style.display = 'none';
            } else {
                console.log("삭제할 요소를 찾을 수 없습니다: " + boxId);
            }
        }
    </script>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</th:block>
</body>
</html>