<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main_layout}">
<head>
    <link href="bootstrap/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>숙소 등록</title>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <div>
            <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
            <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=36a75517ce82693ff837cc79c740e197&libraries=services,clusterer"></script>
        </div>
        <h1>방 수정</h1>
        <form th:action="@{/edit/{id}/room(id=${residence.residNo})}" th:object="${residenceRoom}" method="post" enctype="multipart/form-data">
            <div class="row">
                <div>
                    <label>숙소 No:</label><br>
                    <input type="text" name="residNo" th:value="${residence.residNo}" />
                    <label>방 No</label><br>
                    <input type="text" th:value="roomNo">
                    <label>방 이름:</label><br>
                    <input type="text" id="roomName" th:value="${roomName}" th:field="*{room.roomName}"><br><br>
                    <label>가격:</label><br>
                    <input type="text" id="roomPrice" th:value="${PricePerNight}" th:field="*{room.pricePerNight}"><br><br>
                    <label>방 이미지: (추가 고민중)</label><br>
                </div>
            </div>
            <button type="submit" id="registerButton">수정</button>
            <button><a href="/list">뒤로 가기</a></button>
        </form>

        <form th:action="@{/edit/{id}/room(id=${residence.residNo})}" th:object="${residenceRoom}" method="post" enctype="multipart/form-data">
            <div class="row">
                <div>
                    <label>숙소 No:</label><br>
                    <input type="text" name="residNo" th:value="${residence.residNo}" />

                    <label>방 개수:</label><br>
                    <input type="number" id="roomCount" name="roomCount" min="1" max="10" value="1">
                    <button type="button" onclick="generateRoomForms()">방 수정 폼 생성</button><br><br>

                    <!-- 여기에 동적으로 방 수정 폼이 추가될 자리 -->
                    <div id="roomFormsContainer"></div>
                </div>
            </div>

            <button type="submit" id="registerButton2">수정</button>
            <button><a href="/list">뒤로 가기</a></button>
        </form>

        <script>
            function generateRoomForms() {
                // 먼저 기존 폼들을 모두 제거
                const container = document.getElementById("roomFormsContainer");
                container.innerHTML = '';

                // 방 개수에 맞는 폼 생성
                const roomCount = document.getElementById("roomCount").value;

                for (let i = 0; i < roomCount; i++) {
                    const formHtml = `
                <div class="roomForm">
                    <h4>방 ${i + 1} 수정</h4>
                    <label>방 이름:</label><br>
                    <input type="text" name="roomName_${i}" /><br><br>

                    <label>가격:</label><br>
                    <input type="text" name="pricePerNight_${i}" /><br><br>

                    <label>방 이미지:</label><br>
                    <input type="file" name="roomImage_${i}" /><br><br>
                </div>
            `;
                    container.innerHTML += formHtml;
                }
            }
        </script>
    </div>
    <script th:src="@{js/jquery-3.7.1.min.js}"></script>
</th:block>
</body>
</html>