<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- header -->
<div th:fragment="header" class="row border-bottom header" id="header">
	<!-- 헤더 이미지 로고 -->
	<div class="col-2">
		<a href="/main"><img src="/images/mainLogo.png" style="width: 100%; height: auto; max-width: 200px;"></a>
	</div>
	<div class="col">
		<div class="row">
			<div class="col-12">
				<ul class="col-12 nav justify-content-end">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/main}">Home</a>
					</li>
					<!-- 로그인한 사용자가 관리자일 때만 "관리자 페이지로 가기" 링크를 표시 -->
					<li class="nav-item" th:if="${session['role'] == 'admin'}">
						<a class="nav-link" href="/admin/admin">관리자 페이지로 가기</a>
					</li>
					<li class="nav-item">
						<th:block th:if="${session.isLogin}">
							<div th:if="${session['role'] == 'user'}">
								<a class="nav-link" th:href="@{/myPage/info}">마이 페이지</a>
							</div>
						</th:block>
					</li>
					<!-- 로그인 안 한 경우 로그인 버튼 표시 -->
					<li class="nav-item">
						<th:block th:unless="${session['isLogin']}">
							<a class="nav-link" th:href="@{/login}">로그인</a>
						</th:block>
					</li>
					<!-- 로그인한 경우 로그아웃 버튼 표시 -->
					<li class="nav-item">
						<th:block th:if="${session['isLogin']}">
							<a class="nav-link" th:href="@{/logout}">로그아웃</a>
						</th:block>
					</li>
				</ul>
			</div>
		</div>
		<div class="text-center justify-content-end" style="width: 93%;">
			<!-- 로그인한 사용자가 유저 or Null일 때 유저용 버튼 표시 -->
			<div th:if="${session['role'] == 'user' or session['role'] == null}">
				<div class="row">
					<div class="col-10">
						<nav id="menu" class="btn-group text-center" role="group"
							 aria-label="Basic outlined example">
							<a href="/weather" class="btn btn-outline-primary" style="width: 125px;">오늘의 날씨</a>
							<a href="/weatherResult" class="btn btn-outline-primary" style="width: 125px;">주간 날씨</a>
							<a th:href="@{/accomSearch}" class="btn btn-outline-primary" style="width: 125px;">숙　소</a>
							<a th:href="@{/transfers}" class="btn btn-outline-primary" style="width: 125px;">양　도</a>
							<a th:href="@{/inquiries}" class="btn btn-outline-primary" style="width: 125px;">고객센터</a>
						</nav>
					</div>
				</div>
			</div>
			<!-- 로그인한 사용자가 호스트일 때 호스트용 버튼 표시 -->
			<div th:if="${session['role'] == 'host'}">
				<div class="row">
					<div class="col-10">
						<nav id="menu" class="btn-group text-center" role="group"
							 aria-label="Basic outlined example">
							<a href="/weather" class="btn btn-outline-primary" style="width: 125px;">오늘의 날씨</a>
							<a href="/weatherResult" class="btn btn-outline-primary" style="width: 125px;">주간 날씨</a>
							<a th:href="@{/list/{hostUserNo}(hostUserNo=${session.hostUserNo})}"
							   class="btn btn-primary" style="width: 125px;">내 숙소</a>
							<a th:href="@{/transfers}" class="btn btn-outline-primary" style="width: 125px;">양　도</a>
							<a th:href="@{/inquiries}" class="btn btn-outline-primary" style="width: 125px;">고객센터</a>
						</nav>
					</div>
				</div>
			</div>
			<!-- 로그인한 사용자가 관리자일 때 관리자용 버튼 표시 -->
			<div th:if="${session['role'] == 'admin'}">
				<div class="row">
					<div class="col-10">
						<nav id="menu" class="btn-group text-center" role="group" aria-label="Basic outlined example">
							<a href="/weather" class="btn btn-outline-primary" style="width: 125px;">오늘의 날씨</a>
							<a href="/weatherResult" class="btn btn-outline-primary" style="width: 125px;">주간 날씨</a>
							<a th:href="@{/list}" class="btn btn-outline-primary" style="width: 125px;">숙소(관리자)</a>
							<a th:href="@{/transfers}" class="btn btn-outline-primary" style="width: 125px;">양　도</a>
							<a th:href="@{/inquiries}" class="btn btn-outline-primary" style="width: 125px;">고객센터</a>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<style>
		#menu {
			text-align: center;
			width: 100%;
			margin: auto;
			justify-content: flex-start !important;
		}
		.header {
			border-bottom: solid 1px #1396E5FF;
			color: #1396E5FF;
		}
	</style>
</div>
</html>