<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/transfer_layout}">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>양도게시판</title>
    <script>
        function updateSearchInputType() {
            let searchType = document.getElementById("searchType").value;
            let searchKeyword = document.getElementById("searchKeyword");
            console.log(searchType); // 값 확인용 출력

            // 'checkInDate' 또는 'checkOutDate'일 경우 date 타입을 설정
            if (searchType === "checkInDate" || searchType === "checkOutDate") {
                searchKeyword.setAttribute('type', 'date');  // 'type'을 date로 설정
                searchKeyword.value = "";  // 날짜를 초기화
            } else {
                searchKeyword.setAttribute('type', 'text');  // 'type'을 text로 설정
                searchKeyword.value = "";  // 날짜를 텍스트로 변경할 때 기존 값을 초기화
            }
        }
    </script>
    <style>
        .container-narrow {
            max-width: 1000px; /* 원하는 최대 너비 설정 */
            margin: 0 auto; /* 가운데 정렬 */
        }
        .status-available {
            background-color: #EEE8AA; /* 양도가능 배경 */
            font-weight: bold;
        }
        .status-completed {
            background-color: #a9a9a9; /* 양도완료 배경 */
        }
        .no-underline {
            text-decoration: none; /* 밑줄 제거 */
        }
        .line-through {
            text-decoration: line-through; /* 글의 중간에 줄 긋기 */
        }
        .bold {
            font-weight: bold; /* 글자 굵게 */
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container container-narrow mt-5">
        <h6 class="text-left mb-4">양도 거래 결재시 자동으로 내역이 변경되며 <br> 예약내역에서 확인 가능합니다.</h6>
        <form name="searchForm" id="searchForm" class="row justify-content-center align-items-center my-3">
            <div class="col-auto">
                <select name="searchType" class="form-select" id="searchType" onchange="updateSearchInputType()">
                    <option value="transferTitle">제목</option>
                    <option value="reservationResidName">숙소명</option>
                    <option value="checkInDate">CheckIn</option>
                    <option value="checkOutDate">CheckOut</option>
                </select>
            </div>
            <div class="col-4">
                <input type="text" class="form-control" name="searchKeyword" id="searchKeyword" placeholder="검색어">
            </div>
            <div class="col-auto">
                <input type="submit" value="검색" class="btn btn-primary"/>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">제목</th>
                <th scope="col">숙소명</th>
                <th scope="col">날짜</th>
                <th scope="col">가격</th>
                <th scope="col">상태</th>
                <th scope="col">작성일</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="transfer : ${transferList}">
                <tr th:classappend="${transfer.status == '양도가능'} ? 'status-available' : (transfer.status == '양도완료' ? 'status-completed' : '')">
                    <td>
                        <span th:if="${transfer.status == '양도완료'}" th:text="${transfer.transferTitle}" class="no-underline line-through"></span>
                        <a th:if="${transfer.status != '양도완료'}" th:href="@{/transferDetail(residNo=${transfer.transferNo})}" th:text="${transfer.transferTitle}" class="no-underline"></a>
                    </td>
                    <td>
                        <span th:if="${transfer.status == '양도완료'}" th:text="${transfer.reservationResidName}" class="line-through"></span>
                        <span th:if="${transfer.status == '양도가능'}" th:text="${transfer.reservationResidName}" class="bold"></span>
                        <span th:if="${transfer.status != '양도완료' && transfer.status != '양도가능'}" th:text="${transfer.reservationResidName}"></span>
                    </td>
                    <td>
                        <span th:if="${transfer.status == '양도완료'}" th:text="${transfer.checkInDate}" class="line-through"></span>
                        <span th:if="${transfer.status != '양도완료'}" th:text="${transfer.checkInDate}"></span> -
                        <span th:if="${transfer.status == '양도완료'}" th:text="${transfer.checkOutDate}" class="line-through"></span>
                        <span th:if="${transfer.status != '양도완료'}" th:text="${transfer.checkOutDate}"></span>
                    </td>
                    <td>
                        <span th:if="${transfer.status == '양도완료'}" th:text="${transfer.formattedTransferPrice}" class="line-through"></span>
                        <span th:if="${transfer.status == '양도가능'}" th:text="${transfer.formattedTransferPrice}" class="bold"></span>
                        <span th:if="${transfer.status != '양도완료' && transfer.status != '양도가능'}" th:text="${transfer.formattedTransferPrice}"></span>
                    </td>
                    <td th:text="${transfer.status}" th:classappend="${transfer.status == '양도가능'} ? 'bold' : ''"></td>
                    <td th:text="${transfer?.reservationResidName}"></td>
                    <td th:text="${transfer.formattedCreatedAt}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</th:block>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>