<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/transfer_layout}">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/transferDetail.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>양도 상세게시판</title>
    <script th:inline="javascript">
        function checkLoginAndSubmit(formId) {
            let isLoggedIn = /*[[${#authentication.principal != null}]]*/ false;
            if (isLoggedIn) {
                document.getElementById(formId).submit();
            } else {
                alert("로그인이 필요합니다.");
            }
        }
    </script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container mt-5">
        <h1 class="text-center mb-4 text-primary">
            <span th:text="${transfer.transferTitle}">양도 게시판 상세</span>
        </h1>

        <div class="card card-narrow shadow-lg">
            <div class="card-body">
                <h4 class="text-primary mb-4">숙소 예약 정보</h4>
                <table class="table table-striped">
                    <tr>
                        <th>숙소명</th>
                        <td><span th:text="${transfer.reservationResidName}"></span></td>
                    </tr>
                    <tr>
                        <th>룸 명</th>
                        <td><span th:text="${transfer.roomName}"></span></td>
                    </tr>
                    <tr>
                        <th>체크인 날짜</th>
                        <td><span th:text="${transfer.checkInDate}"></span></td>
                    </tr>
                    <tr>
                        <th>체크아웃 날짜</th>
                        <td><span th:text="${transfer.checkOutDate}"></span></td>
                    </tr>
                </table>

                <h4 class="text-primary mb-4">금액 정보</h4>
                <table class="table table-striped">
                    <tr>
                        <th>양도 가격</th>
                        <td><span id="transferPrice" th:text="${transfer.formattedTransferPrice}"></span></td>
                    </tr>
                    <tr>
                        <th>양도 상태</th>
                        <td><span th:text="${transfer.status}"></span></td>
                    </tr>
                </table>

                <h4 class="text-primary mb-4">판매 내용</h4>
                <div class="content-box">
                    <span th:text="${transfer.transferContent}"></span>
                </div>
                <p class="text-muted mt-2">
                    <strong>작성일:</strong> <span th:text="${transfer.formattedCreatedAt}"></span>
                </p>

                <div class="d-flex justify-content-between align-items-center mt-4">
                    <div>
                        <a href="javascript:history.back()" class="btn btn-outline-primary">목록으로</a>
                    </div>
                    <th:block th:if="${transfer.sellerUserNo == userNo}">
                        <form action="updateForm" method="post">
                            <input type="hidden" name="transferNo" th:value="${transfer.transferNo}" />
                            <input type="hidden" name="pageCount" th:value="${pageCount}" />
                            <input type="hidden" name="search" th:value="${search}" />
                            <input type="hidden" name="keyword" th:value="${keyword}" />
                            <input type="submit" id="detailUpdate" value="수정하기" class="btn btn-warning"/>
                        </form>
                        <form id="deleteForm" action="delete" method="post">
                            <input type="hidden" name="transferNo" th:value="${transfer.transferNo}" />
                            <input type="hidden" name="pageCount" th:value="${pageCount}" />
                            <input class="btn btn-danger" type="submit" id="detailDelete" value="삭제하기" />
                        </form>
                    </th:block>
                    <form id="paymentFormLayer" action="/ready/pc/layer" method="get" style="display: inline;">
                        <input type="hidden" name="transferNo" th:value="${transfer.transferNo}" />
                        <button type="button" class="btn btn-success p-0 border-0"
                                onclick="checkLoginAndSubmit('paymentFormLayer')">
                            <img src="/images/kakaopay.jpg" alt="카카오페이결제" style="width: 110px; height: auto;">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>