@charset "UTF-8";
/* 메인 페이지 스타일 */
#main-resultTable {
	width: 400px;
	text-align: center;
}

.text-center {
	text-align: justify;
}

/* 날씨 테이블 영역 */
.weather-container {
	min-width: 300px; /* 최소 너비 */
	max-width: 600px; /* 최대 너비 */
	padding: 10px;
	height: auto;
}

th:nth-child(1), td:nth-child(1) {
	width: 20%;
	text-align: center;
}

th:nth-child(2), td:nth-child(2) {
	width: 20%;
	text-align: center;
}

th:nth-child(3), td:nth-child(3) {
	width: 20%;
	text-align: center;
}

th:nth-child(4), td:nth-child(4) {
	width: 20%;
	text-align: center;
}