<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 완료</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<th:block layout:fragment="content">
<div class="container mt-5">
    <h1>예약이 완료되었습니다!</h1>

    <div class="alert alert-success">
        <h1>예약 내역</h1>
        <p>예약 번호: <strong>[[${reservation.roomNo}]]</strong></p>
        <p>사용자 번호: <strong>[[${reservation.userNo}]]</strong></p>
        <p>체크인 날짜: <strong>[[${reservation.checkinDate}]]</strong></p>
        <p>체크아웃 날짜: <strong>[[${reservation.checkoutDate}]]</strong></p>
        <p>총 금액: <strong>[[${reservation.totalprice}]]원</strong></p>
        <p>할인율: <strong>[[${reservation.discountRate}]]%</strong></p>
        <p>할인된 금액: <strong>[[${reservation.discountedPrice}]]원</strong></p>
        <p>거래 ID: <strong>[[${reservation.transactionId}]]</strong></p>
        <p>결제 상태: <strong>[[${reservation.paymentStatus}]]</strong></p>
        <p>결제 날짜: <strong>[[${reservation.createdAt}]]</strong></p>
    </div>

    <a href="/" class="btn btn-primary">목록</a>
</div>
</th:block>
</body>
</html>
